*{
  font-family: San; 
  font-weight: 600;
}
body{
  z-index:1;
  overflow-x: hidden;
    height:90vh;
    background:url('images/coffee-5417663_1280.webp');
    background-size:500px;
    background-position: center;   
}
@font-face {
  font-family:'San';
  src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face{
  font-family: 'ruko';
  src: url(fonts/Rukola/iCiel\ Pacifico.ttf);
}
.logo{
  display:block;
  font-family: ruko;
  width:100px;
  position: relative;
  left:960px;
  top:-20px ;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
.logo img{
  width:100px;
  
}
.logo p{
  position: relative;
  text-align: center ;
  top:-47px;
  font-family: ruko;
  text-shadow: 1px 1px 2px rgb(179, 131, 94), 0 0 1em rgb(114, 76, 37), 0 0 0.2em rgb(243, 202, 157);
}
.login-box{
  width:290px;
  height:372px;
  position:relative;
  margin :6% auto;
  background:white;
  padding:15px 15px 50px 15px;
  top:-150px;
  border-radius:20px;
  overflow: hidden;
  z-index:1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

} 
.button-box{
  width:220px;
  margin: 35px auto;
  position:relative;
  box-shadow: 0 0 20px 9px rgb(222, 209, 192);
  border-radius: 30px;
  padding:5px
}
.switch{
  padding:10px 30px;
  cursor: pointer;
  background: transparent;
  border:0;
  outline:none;
  position: relative;
  
}
#btn{
  top:50px;
  left:44px;
  position:absolute;
  width:120px;
  height:48px;
  background:linear-gradient(to right,rgb(243, 229, 210),rgb(212, 191, 163),rgb(219, 189, 149),rgb(197, 158, 107));
  border-radius:30px;
  transition:0.5s;
}
.social-icons{
  margin: 20px auto;
  text-align:center;
  position: relative;
  top:-40px;
  transition: 0.5s;
}
.social-icons img{
  width:30px;
  margin:0 12px;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgb(226, 194, 151);
  border-radius: 50%;
}
.input-group{
  
  position:absolute;
  width:280px;
  transition:0.5s;
}

.input-field{
  width:100%;
  padding:10px 0;
  margin: 5px 0;
  border:0;
  border-bottom:1px solid gray;
  outline:none;
  background:transparent;
  outline:0;
  z-index:10
}

.submit-btn{
  position:relative;
  top:-10px;
  width:85%;
  padding: 10px 30px;
  cursor:pointer;
  display:block;
  background:linear-gradient(to right,rgb(243, 229, 210),rgb(212, 191, 163),rgb(219, 189, 149),rgb(197, 158, 107));
  outline:none;
  border:0;
  border-radius: 30px;
  margin:0 auto;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 16px;
}
.check-box{
  margin:30px 5px 30px 0;
  position:relative;
}
span{
  color:gray;
  font-size:12px;
  bottom:68px;
  position:absolute;
}
#login{
  top:200px
}
#register{
  left:450px;
 
}
#btn{
 z-index:1;
}
#button{
  display:none;
 
}
.button button{
  cursor: pointer;
  z-index: 99;
}
.button{
  position:relative;
}
#button1:checked~#btn{
  left:155px;
}
#button1:checked~#register{
  transition: 0.3s;
  left:15px;
}
#button1:checked~.social-icons{
  transition: 0.5s;
  top:-55px;
}
#register{
  top:150px
}
#register input{
  
}
.support{
  position:absolute;
  top:400px;
  right:40px
}
#sp{
  position:relative;
    left:100px;
    display:none;
  
}
.sp img{
  
  width:50px;
  background:rgb(160, 129, 89);
  border-radius: 50%;
  left:290px;
  top:470px;
  position:relative;
  z-index:13
}
.support{
  width:200px;
  position:relative;
 left:700px;
 top:-700px;
 
}
.support{
  transition:0.5s;
}.rung{
  animation:code-pro-rung-lac 2s ease infinite
}
@-webkit-keyframes code-pro-rung-lac{
  0%{
    -webkit-transform:rotate(0) scale(1) skew(1deg)
  }
  10%{
    -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
  }
  20%{
    -webkit-transform:rotate(25deg) scale(1) skew(1deg)
  }
  30%{
    -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
  }
  40%{
    -webkit-transform:rotate(25deg) scale(1) skew(1deg)
  }
  50%{
    -webkit-transform:rotate(0) scale(1) skew(1deg)
  }
  100%{
    -webkit-transform:rotate(0) scale(1) skew(1deg)
  }
}

#sp:checked~.contact{
  transition:0.5s;
  left:230px;
}
#sp:checked~.contact1{
  transition:0.3s;
  left:230px;
}
#sp:checked~.contact2{
  transition:0.1s;
  left:230px;
}
.contact{
  display:block;
  align-items: center;
  transition:0.1s;
  width:140px;
  height:120px;
  background:linear-gradient(to right,rgb(228, 199, 160),rgb(212, 168, 111),rgb(234, 165, 74)) ;
  position:relative;
  left:400px;
  top:-38px;
  margin-bottom:10px;

}
.contact1{
  transition:0.3s;
  width:140px;
  height:120px;
  background:linear-gradient(to right,rgb(228, 199, 160),rgb(212, 168, 111),rgb(234, 165, 74)) ;
  position:relative;
  left:400px;
  top:-25px;
  margin-bottom:10px;
}
.support div img{
  width:40px;
  position:relative;
  left:50px;
  top:-15px;
}
.support div p{
  text-align: center;
 font-size:15px;
  margin-bottom:10px;
}
.support div input{
  margin-left:15px;
  outline:0;
  border:2px solid black;
}
.support p{
  margin:0;
}
.support div{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 15px;
}
.contact2{
  transition:0.5s;
  width:140px;
  height:120px;
  background:linear-gradient(to right,rgb(228, 199, 160),rgb(212, 168, 111),rgb(234, 165, 74)) ;
  position:relative;
  left:400px;
  top:-14px;
  margin-bottom:10px;
}
.support input{
  height:30px;
  margin:0 auto;
  text-align: center;
  align-items: center;
  width:105px;
}
