*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
@font-face{
  font-family: 'ruko';
  src: url(fonts/Rukola/iCiel\ Pacifico.ttf);
}
@font-face {
    font-family:'San';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}
body{
    height:1000px;
    font-family: sans-serif; 
    background:url('images/pexels-photo-4201374.jpeg');
    background-size:1125px 1000px;
    overflow-x: hidden;
}

.menu{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 235px;
    padding-top: 60px;
    background-color: rgb(99, 82, 60); 
    transition: 0.5s;
    transform: translateX(-250px);
}

ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    padding-left: 25px;
}
ul li:hover{
    padding-left: 35px;
    background-color: rgb(133, 118, 97);
}
ul li a{
    display: block;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#open{
    display: none;
}
.open{
    height: 80px;
    width: 80px;
    
}
.open i{
    font-size: 25px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 25px;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
    z-index: 99;
}
.open img{
    width:80px;
    position:relative;
    left:-60px;
    top:15px;
    opacity: 0.5;
}
#open:checked ~ .menu{
    transition: 0.5s;
    transform: translateX(0);
}
#open:checked ~ .open i{
    transition: 0.5s;
    margin-left: 180px;
    top:-10px;
    position: absolute;
}
.img{
  
    position:relative;
    left:-500px;
    animation: 10s slide ease-in-out infinite;
}
.text-box{
    width:380px;
    height:380px;
    background: rgba(229, 232, 234, 0.9);
    margin:30px;
    text-align: center;
    border-radius: 8px;
}
.text-box p{
    padding-top:100px;
    font-size: 70px;
    text-align: center;
    font-family:San;
    font-weight: 900;
}
.slider{
    width:380px;
    height:380px;
    animation: 16s slider linear infinite;
    background-size: 100px;
    transition:0.3s;
    border-radius: 8px;
}
@keyframes slider{
    0%{
        background:url('images/bg1.jpg');
        background-size: cover;
    }
    20%{
        background:url('images/bg2.jpg');
        background-size:cover;
    }
    40%{
        background:url('images/bg3.jpg');
        background-size:cover;
    }
    60%{
        background:url('images/bg4.jpg');
        background-size:cover;
    }
    80%{
        background:url('images/bg5.jpg');
        background-size:cover;
    }
    100%{
        background:url('images/bg1.jpg');
        background-size:cover;
    }
   
}
#box1{  
    margin-left:230px;
    display:flex ;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-150px;
}
body{
    margin: 0;
    padding: 0;
   
}
.logo{
    display:block;
    font-family: ruko;
    width:100px;
    position: relative;
    left:970px;
    top:-110px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:100px;

}
.logo p{
    position: relative;
    text-align: center ;
    top:-34px;  
}
.slogan{
    padding:20px;
    margin-left:270px;
    width:800px;
    position: relative;
    top:-140px;
    background-color: rgba(160, 156, 156,0.5);
    border-radius: 10px;
}
.slogan h3{
    word-spacing:1px;
}
.slogan img{
    width:30px;
    margin:0 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgb(193, 190, 187);
    border-radius: 50%;
  }
.social-icons{
    margin-top: 30px;
    text-align:right;
}
.text-box{
    display: block;
    transition: 0.3s;
    overflow: hidden;
    transition: 0.3s linear;
}
.text-box p{
    transition: 0.3s linear;
    text-align: center;
    padding-bottom:90px;
}
.text-box:hover p{
    text-align: left;
    font-size: 20px;
    padding:10px;
}
.text-box:hover{
    transition: 0.8s;
    width:3000px;
    height:420px;
}
.chart{
    position:relative;
    display:flex;
    width:1500px;
    height:350px;
    margin:0 auto;
    
}
.chart label{
    position:absolute;
    top:130px;
    left:655px;
}
.chart input{
    position:absolute;
    top:30px;
    left:610px;
}
.chart-btn{
     position:absolute;
     transition: 0.8s;
}
#chartop{
    display: none;
    transition: 0.5s linear;
}
.chart-img{
  
    display: flex;
    width:650px;
    overflow: hidden;
 

}.chart-img img{
    transition: 0.5s linear;
}

#chartop:checked  ~.chart-img .box{
    position: relative;
    transform: translateX(-650px);
    transition: 0.5s linear;
}
.box
{
    transition: 0.5s linear;
    display: flex;
}
.box1{
    width:1000px;
    display: flex;
    margin: 20px auto 0 auto;
    padding: 10px 0;
    height: 320px;
    display: flex;
    justify-content: space-around; 

}
.box1 p{
    position: relative;
    width:30px;
    height: 10px;
}
#chartop:checked  + .chartop img{
    transition: 0.5s linear;
    transform: rotateY(180deg);
}
.chart-item{
    align-self: flex-end;
    width: 30px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    transition: 0.5s;
   
}
.chart:hover .chart-item{
    animation: grow ease-in 1s;
    background:linear-gradient(to bottom,rgb(248, 204, 142),rgb(255, 183, 74),rgb(255, 156, 16));
}
@keyframes grow{
    from{
        opacity: 0;
        height: 50%;
    }
    to{
        opacity: 1;
        height: var(--percent);
    }
}
.grow-number{
    position: relative;
  
    width:250px;
    height:150px;
    border-radius: 10px;
    color:#fff;
}
.grow-number:nth-child(1){
    background:linear-gradient(to bottom,rgb(137, 108, 250),rgb(92, 92, 249),rgb(56, 56, 248),blue);
}
.grow-number:nth-child(2){
    background:linear-gradient(to bottom,rgb(115, 186, 244),rgb(126, 194, 251),rgb(62, 163, 247),rgb(0, 140, 255));
}
.grow-number:nth-child(3){
    background:linear-gradient(to bottom,rgb(255, 199, 109),rgb(255, 188, 81),rgb(255, 169, 32),rgb(255, 157, 0));
}
.grow-number:nth-child(4){
    background:linear-gradient(to bottom,rgb(255, 134, 134),rgb(254, 101, 101),rgb(255, 59, 59),rgb(255, 38, 38));
}
.grow{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left:65px;
    justify-content: space-around;
}
.grow img{
    opacity:0.05;
    position: relative;
    left:-150px;
    top:-10px;
}

.grow-number:nth-child(3)::after {
    font-size: 24px;
    position:relative;
    left:-47px;
    top:-39px;
    font-weight: 600;
}

.grow1 h2{
    font-size: 24px;
    position:relative;
    left:-90px;
    top:36px;
}
.grow1 h4{
    position: relative;
    top:60px;
    left:-5px;
}
.grow-number p{
    position:relative;
    top:50px
}
.grow-number pre{
    font-size:20px;
    position:relative;
    top:50px;
    left:-60px;
}
.grow-number:nth-child(2)::after {
    font-size: 25px;
    position:relative;
    left:-74px;
    top:-43px;
    font-weight: 600;
}
.grow1 pre{
    position:relative;
    top:34px;
    left:-80px;
    font-size: 28px;
    font-weight: 600;
}
.grow2 pre{
    position:relative;
    top:54px;
    left:-40px;
    font-size: 26px;
    font-weight: 600;
}
.grow-number:nth-child(1)::after {
    font-size: 23px;
    position:relative;
    left:-5px;
    top:-39px;
    font-weight: 600;
}
.grow-number:nth-child(4)::after {
    font-size: 24px;
    position:relative;
    left:-19px;
    top:-39px;
    font-weight: 600;
}.grow-number:nth-child(1)::after {
    position:relative;
    content: counter(count);
    animation: counter1 25s linear infinite;
    counter-reset: count 0;
}
  @keyframes counter1 {
    0%{
      counter-increment: count 26;
    }
    10% {
      counter-increment: count 20;
    }
    20% {
      counter-increment: count 22;
    }
    30% {
      counter-increment: count 20;
    }
    40% {
      counter-increment: count 25;
    }
    50% {
      counter-increment: count 26;
    }
    60% {
      counter-increment: count 25;
    }
    70% {
      counter-increment: count 24;
    }
    80% {
      counter-increment: count 25;
    }
    90% {
      counter-increment: count 26;
    }
    100% {
      counter-increment: count 29;
    }
  }
  .grow-number:nth-child(2)::after {
    position:relative;
    content: counter(count);
    animation: counter2 40s linear infinite;
    counter-reset: count 0;
}
@keyframes counter2 {
    0%{
      counter-increment: count 30;
    }
    10% {
      counter-increment: count 31;
    }
    20% {
      counter-increment: count 35;
    }
    30% {
      counter-increment: count 40;
    }
    40% {
      counter-increment: count 42;
    }
    50% {
      counter-increment: count 50;
    }
    60% {
      counter-increment: count 62;
    }
    70% {
      counter-increment: count 63;
    }
    80% {
      counter-increment: count 64;
    }
    90% {
      counter-increment: count 65;
    }
    100% {
      counter-increment: count 70;
    }
  }
  .grow-number:nth-child(3)::after {
    position:relative;
    content: counter(count);
    animation: counter3 35s linear infinite;
    counter-reset: count 0;
}
@keyframes counter3 {
    0%{
      counter-increment: count 50;
    }
    10% {
      counter-increment: count 55;
    }
    20% {
      counter-increment: count 61;
    }
    30% {
      counter-increment: count 64;
    }
    40% {
      counter-increment: count 70;
    }
    50% {
      counter-increment: count 80;
    }
    60% {
      counter-increment: count 82;
    }
    70% {
      counter-increment: count 85;
    }
    80% {
      counter-increment: count 87;
    }
    90% {
      counter-increment: count 88;
    }
    100% {
      counter-increment: count 90;
    }
  }
  .grow-number:nth-child(4)::after {
    position:relative;
    content: counter(count);
    animation: counter4 35s linear infinite;
    counter-reset: count 0;
}
@keyframes counter4 {
    0%{
      counter-increment: count 20;
    }
    10% {
      counter-increment: count 21;
    }
    20% {
      counter-increment: count 22;
    }
    30% {
      counter-increment: count 23;
    }
    40% {
      counter-increment: count 25;
    }
    50% {
      counter-increment: count 27;
    }
    60% {
      counter-increment: count 29;
    }
    70% {
      counter-increment: count 30;
    }
    80% {
      counter-increment: count 31;
    }
    90% {
      counter-increment: count 33;
    }
    100% {
      counter-increment: count 40;
    }
  }

